# Игнорируем все файлы в корне, кроме wp-content
/*
!.gitignore
!/wp-content/

# Игнорируем все плагины, кроме нужного
wp-content/plugins/*
!wp-content/plugins/custom-checkout-plugin/
!wp-content/plugins/custom-like-mini-cart/
!wp-content/plugins/wp-my-product-webspark-main/

# Игнорируем темы, загрузки и языки
wp-content/themes/
wp-content/uploads/
wp-content/languages/

# Игнорируем временные файлы, кеши и конфиги
wp-config.php
error_log
.htaccess
.idea/
.vscode/
node_modules/
.DS_Store
*.log
*.zip
